input {
    font-size: medium;
    width: 20px;
    height: 20px;
}

.word-input-guessed {
    text-align: center;
    margin: 2px;
    border: 0px;
}

.word-input {
    text-align: center;
    margin: 2px;
    border: 0px;
    border-bottom: 1px solid black;
}